In [2]:
t1 = (1,2,3,4,5,6)
print(t1)
print(t1[0])

(1, 2, 3, 4, 5, 6)
1

In [2]:
t1[0] = 23     # cant update the value in tuple

TypeError: 'tuple' object does not support item assignment

In [3]:
# (tuple)-->immutable--cant change
# [list]-->mutable--can change

In [4]:
t2 = ()  #empty tuple
t2

()

In [7]:
t3 = (1)     # wrong way for single element puple
print(t3)

1

In [8]:
t4 = (1,)    # right way for single element tuple
print(t4)

(1,)

In [11]:
t5 = (1,2,3,4,1,5,6,1)
t5

(1, 2, 3, 4, 1, 5, 6, 1)

In [12]:
print(t5.count(1))

3

In [3]:
print(t1)
print(t1.index(3))

(1, 2, 3, 4, 5, 6)
2